<html>
    <head>
        <title>Psd2Html</title>
        <link rel="stylesheet" href="static/styleweb.css">

    </head>
    <body>
        <!--Ssart Header-->
            <header>
                <slider>
                    <h5>DEAL<span>|/X\|</span>PARTNER</h5>
                    <div class="high">
                        <a href="#">DETAILS</a>
                        <a href="checkout.html">TICKETS</a>
                    </div>
                    <div class="plus">

                      </div>
                            <a href="#">LOGIN</a>
                            <button>SIGN UP</button>
                    </div>
                    <h1>La fiesta que estabas esperando</h1>
                    <p></p>
                    <button>GET TICKETS</button>
                </slider>
            </header>
        <!--End Header--> 